*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
.clearfix::after,
.clearfix::before{
    content:"";
    display:table;
}
.clearfix::after{
    clear:both;
}